<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1"> ==$0
        <title>Perguntas Frequentes</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Perguntas Frequentes</h1>
            <div class="faq">
                <button class="accordion">
                    O que é o Appvogado?
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>
                        Appvogado, é uma aplicação web que permite intermediar
                        a relação entre advogados e clientes
                    </p>
                </div>

        </div>
    </body>
</html>