<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1"> 
        <title>Perguntas Frequentes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="wrapper">
            <h1>Perguntas Frequentes</h1>
            <div class="faq">
                <button class="accordion">
                    O que é o Appvogado?
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>
                        Appvogado, é uma aplicação web que permite facilitar
                        a relação entre advogados e clientes.
                    </p>
                </div>
                
                <div class="faq">
                    <button class="accordion">
                        Como funciona?
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    <div class="pannel">
                        <p>
                            Pessoas com problemas jurídicos podem buscam pelo
                            perfil de advogado mais adequado ou 
                            postar o problema que está passando e aguardar a 
                            resposta dos advogados cadastrados.
                        </p>
                    </div>

                    <div class="faq">
                        <button class="accordion">
                            Consigo saber quanto terei que pagar pelo serviço?
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div class="pannel">
                            <p>
                                Não, cada advogado é responsável pelo valor do seu
                                serviço/consulta, para facilitar, ao lado do perfil 
                                será indicado com ($$$) para que o cliente em potencial 
                                tenha uma noção de quanto pode custar.
                            </p>
                        </div>
        </div>
    </body>
</html>